# Default ignored files
/../../cybersecurity_guidelines/.idea/shelf/
/../../cybersecurity_guidelines/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../cybersecurity_guidelines/.idea/httpRequests/
